@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
// colors 
$bg-color: #272343;
$primary-color: #FFFFFF;
$secondary-color: #E3F6F5;
$alt-color: #BAE8E8;
$medium-blue: #00587A;
$medium-blue-2: #008891;
$light-green: #16C79A;
$warn-color: #8b6262;

// fonts 
$base-font: "Lato", sans-serif;