@import "./variables";

.container {
    @apply flex flex-row justify-between;
    height: 50px;
    padding: 5px 10px;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(30px);
    box-shadow: 0 5px 10px $medium-blue;
    img {
        width: 28px;
        position: relative;
    }
    span {
        font-size: 14px;
        background-color: white;
        position: absolute;
        right: 8px;
        top: 2px;
        padding: 0px 4px;
        border-radius: 50%;
        display: block;
    }
    a {
        font-family: $base-font;
        font-size: 18px;
        color: $medium-blue;
        &:hover {
            color: $medium-blue-2;
        }
    }
}

.cartContainer {
    margin-right: 5px;
}